/* General Styles */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 18px;
}

header,
footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

header h1,
footer p {
  margin: 0;
  font-size: 2em;
}

.back-button {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #555;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: calc(
    100vh - 20px
  ); /* Adjust height based on header and footer size */
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 100%;
  height: auto;
}

/* Intro Section */
#intro {
  text-align: center;
  padding: 40px 20px;
  background: #fff;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.text-box {
  width: 85%;
  background-color: #e0e0e0;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.text-box p {
  font-size: 1.4em;
  margin: 10px 0;
  color: #555;
}

/* Buttons Section */
#buttons {
  text-align: center;
  margin: 20px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 15px 30px; /* Increase the padding for buttons */
  font-size: 1.2em;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.btn-gold {
  background-color: #ffd700;
}

.btn-gold:hover {
  background-color: #cca700;
}

.btn-silver {
  background-color: #c0c0c0;
}

.btn-silver:hover {
  background-color: #909090;
}

.btn-bronze {
  background-color: #cd7f32;
}

.btn-bronze:hover {
  background-color: #a56528;
}

/* Data Visualization Section */
#data-visualization {
  width: 80%;
  margin: auto;
  padding: 40px 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 40px;
}

#scatter,
#bar {
  margin-top: 20px;
}

.tooltip {
  position: absolute;
  text-align: left;
  font-size: 1em;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
}

.axis line {
  stroke: #808080;
}

.axis path {
  stroke: #808080;
}

.axis text {
  font-weight: 500;
  font-size: 1.2em;
}
